
  <ul class="list-group">
    {{#each Comentarios}}

    <li class="list-group-item">
      {{comentario}} -----
        <img src=imagen/{{imagen}}>
      {{id_usuario}}

      <button  class="js-delComentario" value={{id_comentario}}>BORRAR</button>

    </li>
    {{/each}}

  </ul>
  <div class="publicacion col-xl-12">
  <form>
    <div class="form-group">

      <label for="exampleFormControlTextarea1">comentario</label>
      <textarea class="form-control" id="comentario" rows="3"></textarea>
      <div class="form-group">
        <label for="nombre_usuario">usuario</label>
        <input type="text" class="form-control" id="usuario"name="id_usuario" value={{usuario["0"]['nombre']}}>
      </div>

      <div class="form-group">
      <label for="exampleFormControlFile1">adjuntar imagen</label>
      <input type="file" class="form-control-file" id="imagen">
    </div>
    </div>

  </form>
    <button  id="js-addComentario" >crear</button>
</div>
